body{
    background: #BDBDBD;
}

.row1{
    background-image: url('https://github.com/4GeeksAcademy/exercise-colaborativo-html-website_juanvalle2/blob/master/website/assets/img/bg.jpg?raw=true') ;
   display: block;
}



.texto1 {
    background-color: rgb(70, 161, 161);
    
}