<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam non dolor itaque iste minus cum quas commodi a, cupiditate, labore eligendi porro voluptatum sit hic, explicabo modi soluta excepturi neque.</p>
<div class="container mt-5">
    <div class="card p-4">
        <h3 class="mb-3">Contact</h3>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Tu E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Tu email">
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Tu mensaje</label>
                <textarea class="form-control" id="mensaje" rows="4" placeholder="Por favor ingresa tu mensaje aquí..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>