<!-- your html code here -->
<p>
<!-- first-heading.html -->
<div class="container py-5 bg-white">
    <div class="row align-items-center">
        <!-- Div de walter white -->
        <div class="col-md-8 px-5">
            <h1 class="px-5"><span class="fw-bold text-dark"">This First Heading</span>
                <span class="text-secondary"> Will Catch Your Eye</span></h1>
            <p class="lead px5">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-4 text-center px-5">
            <img src="../website/assets/img/1.jpg" alt="WalterWhite" class="img-fluid rounded-circle">
        </div>
    </div>
</div>

</p>